<body>
<!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <% if current_user %>
                    <%= link_to "WELCOME" + " #{current_user.first_name.upcase}", user_path(current_user) %>
                <% else %>
                    <a href="#top">FLASH LIFE PHOTO BOOTH</a>
                <% end %>
            </li>
            <% if current_user %>
                <li>
                    <%= link_to "SIGN OUT", session_path, method: :delete %>
                </li>
            <% else %>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">SIGN IN <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                        <%= form_for(@user, {url: session_path}) do |f| %>
                            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
                            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                            <%= f.submit "Sign In", class: "btn btn-dark" %>
                        <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
    </nav>

    <header class="header1">

        <h2>CLIENT LIST</h2>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.first_name %></td>
                      <td><%= user.last_name%></td>
                      <td><%= user.email %></td>
                      <td><%= user.phone_number %></td>
                      <td><%= user.address %></td>
                      <td><%= link_to 'Show', user %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br>
            </div>
</header>
<script>

// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>
</body>
