<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h2> Events </h2>
<ul>
	<% unless @user.events.nil? %>
	<%= @user.events %>
		<% @user.events.each do |e| %>
		<li>
			<strong><%= e.name %> </strong>
			<%= link_to "Gallery", event_path(e) %>
		</li>
		<% end %>

	<% end %>
</ul>

