<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h2> My Events </h2>
<% if @user.events.count != 0 %>
	<div class="table-responsive">
		<table class="table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Date</th>
		      <th>Location</th>
		      <th>Package Type</th>
		      <th></th>
		      <th></th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @user.events.each do |event| %>
		      <tr>
		        <td><%= event.name %></td>
		        <td><%= event.date %></td>
		        <td><%= event.location %></td>
		        <td><%= event.package_type %></td>
		        <td><%= link_to 'Show', event %></td>
		        <td><%= link_to 'Edit', edit_event_path(event) %></td>
		        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
			</tbody>
		</table>
		<br>
	</div>
<% else %>
<% end %>

<%= link_to "Create New Event", new_event_path %>