<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <% if current_user %>
                    <%= link_to "WELCOME" + " #{current_user.first_name.upcase}", user_path(current_user) %>
                <% else %>
                    <a href="#top">FLASH LIFE PHOTO BOOTH</a>
                <% end %>
            </li>
            <li>
                <a href="#top">HOME</a>
            </li>
            <li>
                <a href="#about">ABOUT</a>
            </li>
            <li>
                <a href="#packages">PACKAGES</a>
            </li>
            <li>
                <a href="#gallery">GALLERY</a>
            </li>
            <li>
                <a href="#contact">CONTACT</a>
            </li>
            <% if current_user %>
                <li>
                    <%= link_to "SIGN OUT", session_path, method: :delete %>
                </li>
            <% else %>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">SIGN IN <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                        <%= form_for(@user, {url: session_path}) do |f| %>
                            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
                            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
                            <%= f.submit "Sign In", class: "btn btn-dark" %>
                        <% end %>
                    </div>
                </li>
            <% end %>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div class="photoboothlogo"></div>
            <div class="photoboothnormal"></div>
            <!-- <div class="wedding"></div> -->
            <h3>It's your party. We dance to your beat!</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ABOUT</h2>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <p><strong>CREATING AN EXPERIENCE</strong> We understand the importance of your event, so we create an experience that you will remember. We offer a variety of different packages, each customizable to fit your lifestyle and taste. We always keep in mind that it's your party, and we dance to your beat! </p>
                </div>
                <div class="col-md-4">
                    <p><strong>CUSTOMER SERVICE</strong> We go above and beyond to provide you with the highest level of customer service. Our trained staff oversees and guides your guests toward an absolutely fun-filled event from start to finish.</p>
                </div>
                <div class="col-md-4">
                    <p><strong>TOP-OF-THE-LINE TECHNOLOGY</strong> We use professional SLR cameras (not a webcam or point-and-shoot) and commercial, dye-sublimation printers (not an ink-jet that prints slowly and smears). Technology is ever changing, and we stay current with the newest and best products. </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Packages -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="packages" class="packages">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>PACKAGES</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="package-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-camera fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Flashy Booth</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <!-- Button trigger modal -->
                                <button class="btn btn-light" data-toggle="modal" data-target="#myModal1">Learn More</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel1">FLASHY BOOTH</h4>
                                      </div>
                                      <div class="modal-body">
                                        <ul class="list-inline item-details">
                                            <li><strong>Photo Capability:</strong><br>
                                            double prints with customized layout and banner<br>
                                            CD gallery of all pictures<br>
                                            prop box
                                            </li><br>
                                            <li><strong>Choice of:</strong><br>
                                            4x6 postcard or 2x6 photo strips
                                            </li><br>
                                            <li><strong>Services:</strong><br>
                                            4-hour unlimited use<br>
                                            professional, on-site attendant<br>
                                            delivery, set up and breakdown<br>
                                            1 hour idle time
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="package-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-video-camera fa-stack-1x"></i>
                            </span>
                                <h4>
                                    <strong>Action Booth</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                 <!-- Button trigger modal -->
                                <button class="btn btn-light" data-toggle="modal" data-target="#myModal2">Learn More</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel2">ACTION BOOTH</h4>
                                      </div>
                                      <div class="modal-body">
                                        <ul class="list-inline item-details">
                                            <li><strong>Photo and Video Capability:</strong><br>
                                            double prints with customized layout and banner<br>
                                            CD gallery of all pictures<br>
                                            prop box<br>
                                            scrapbook station and supplies
                                            </li><br>
                                            <li><strong>Choice of:</strong><br>
                                            4x6 postcard or 2x6 photo strips
                                            </li><br>
                                            <li><strong>Services:</strong><br>
                                            4-hour unlimited use<br>
                                            2 professional, on-site attendants<br>
                                            delivery, set up and breakdown<br>
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="package-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-star fa-stack-1x"></i>
                            </span>
                                <h4>
                                    <strong>Red Carpet Event</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <!-- Button trigger modal -->
                                <button class="btn btn-light" data-toggle="modal" data-target="#myModal3">Learn More</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel3">RED CARPET EVENT</h4>
                                      </div>
                                      <div class="modal-body">
                                        <ul class="list-inline item-details">
                                            <li><strong>Instant Print Capability:</strong><br>
                                            step and repeat 8x8 backdrop<br>
                                            Hollywood style red carpet<br>
                                            professional lights<br>
                                            double prints with customized layout and banner<br>
                                            CD gallery of all pictures
                                            </li><br>
                                            <li><strong>Choice of:</strong><br>
                                            4x6 postcard or dual 2x3 photo strips
                                            </li><br>
                                            <li><strong>Services:</strong><br>
                                            4-hour unlimited use<br>
                                            professional, on-site attendant<br>
                                            delivery, set up and breakdown
                                            </li>
                                        </ul>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="package-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-microphone fa-stack-1x"></i>
                            </span>
                                <h4>
                                    <strong>A-List Red Carpet</strong>
                                </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                  <!-- Button trigger modal -->
                                <button class="btn btn-light" data-toggle="modal" data-target="#myModal4">Learn More</button>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title" id="myModalLabel4">A-LIST RED CARPET</h4>
                                      </div>
                                      <div class="modal-body">
                                        <ul class="list-inline item-details">
                                            <li><strong>Instant Print Capability:</strong><br>
                                            customized step and repeat 8x8 backdrop<br>
                                            Hollywood style red carpet<br>
                                            video capabilities with microphone set up<br>
                                            professional lights<br>
                                            double prints with customized layout and banner
                                            CD gallery of all pictures
                                            </li><br>
                                            <li><strong>Choice of:</strong><br>
                                            4x6 postcard or dual 2x3 photo strips
                                            </li><br>
                                            <li><strong>Services:</strong><br>
                                            4-hour unlimited use<br>
                                            professional, on-site attendant<br>
                                            delivery, set up and breakdown
                                            </li>
                                        </ul>
                                    </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
        <div class="row text-vertical-center">
            <div class="col-md-8">
                <div class="bride_groom"></div>
            </div>
            <div class="col-md-4">
              <!-- Button trigger modal -->
                  <button class="btn btn-dark btn-xlarge" data-toggle="modal" data-target="#myModalSignup">Book Us Now!</button>
                      <!-- Modal -->
                      <div class="modal fade" id="myModalSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabelSignup" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <h4 class="modal-title" id="myModalLabelSignup">SIGN UP</h4>
                            </div>
                            <div class="modal-body">
                              <%= form_for(@user, { :class => "form-inline", :action => "create", :method => "post"}) do |f| %>
                                <div class="field">
                                  <%= f.label "First Name" %>
                                  <%= f.text_field :first_name, class: "form-control" %>
                                </div>
                                <div class="field">
                                  <%= f.label "Last Name" %>
                                  <%= f.text_field :last_name, class: "form-control" %><br>
                                </div>
                                <div class="field">
                                  <%= f.label "Mailing Address" %><br>
                                  <%= f.text_field :address, class: "form-control" %>
                                </div>
                                <div class="field">
                                  <%= f.label "Phone Number" %><br>
                                  <%= f.text_field :phone_number, class: "form-control" %>
                                </div>
                                <div class="field">
                                  <%= f.label "Email" %><br>
                                  <%= f.text_field :email, class: "form-control" %>
                                </div> 
                                <div class="field">
                                  <%= f.label "Password" %><br>
                                  <%= f.password_field :password, class: "form-control" %>
                                </div>
                                <div class="field">
                                  <%= f.label "Confirm Password" %><br>
                                  <%= f.password_field :password_confirmation, class: "form-control" %>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <div class="actions">
                                  <%= f.submit "Create Account", class: "btn btn-dark" %>
                              </div>
                              <% end %>
                            </div>
                              <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                          </div>
                        </div>
                      </div>
               </div>
        </div>
    </aside>

    <!-- Gallery -->
    <section id="gallery" class="gallery">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>FEATURED GALLERIES</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="gallery-item">
                                <a href="#">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
    <aside class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h1 class="text-white"><%= @business.review_count %> TOTAL REVIEWS!</h1>
                </div>
                <div class="col-md-4 text-center">
                    <br><%= image_tag(@business.rating_img_url_large) %>
                </div>
                <div class="col-md-4 text-center">
                    <h1 class="text-white"><%= @business.rating %> / 5 STARS </h1>
                </div>
            </div>
        </div>
    </aside>

    <!-- Map -->
    <section id="contact" class="green">
        <div class="photobooth3D"></div> 
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>FLASH LIFE PHOTO BOOTH, INC.</strong>
                    </h4>
                    <p>550 N Figueroa St #5002<br>Los Angeles, CA 90012</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (626) 890-5887</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:info@flashlifephotobooth.com">info@flashlifephotobooth.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/FlashLifePhotobooth"  target="_blank"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://www.yelp.com/biz/flash-life-photo-booth-rental-los-angeles" target="_blank"><i class="fa fa-yelp fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Flash Life Photo Booth 2015</p>
                </div>
            </div>
        </div>
    </footer>
<!-- Custom Theme JavaScript -->
<script>

// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});

// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>

</body>

</html>