<%= form_for @user.event do |f| %>

  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Event Date" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_field :description %>
  </div> 
  <div class="field">
    <%= f.label "Location" %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.check_box "Make Gallery Public", :is_public, checked = true %><br>
  </div>
   <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
